In [1]:
# Cell 1: Load resumes dataset and basic checks

import pandas as pd

# If your file is named differently, change the filename here
df = pd.read_csv("resumes.csv")

print("Shape:", df.shape)
print("Columns:", df.columns.tolist())

# Ensure required columns exist
required_cols = ["raw_text", "role"]
for col in required_cols:
    if col not in df.columns:
        raise ValueError(f"Missing required column: {col}")

# Make sure raw_text and role are strings
df["raw_text"] = df["raw_text"].astype(str)
df["role"] = df["role"].astype(str)

# Drop any rows with missing raw_text or role
df = df.dropna(subset=["raw_text", "role"]).reset_index(drop=True)

print("After cleaning:", df.shape)
print("\nRole distribution:")
print(df["role"].value_counts())

df.head()

Shape: (1000, 12)
Columns: ['id', 'name', 'role', 'skills', 'experience_years', 'experience_details', 'education', 'projects', 'certifications', 'phone', 'email', 'raw_text']
After cleaning: (1000, 12)

Role distribution:
role
ML Engineer                       235
DevOps / Cloud Engineer           197
Backend / Full-Stack Developer    192
Software Engineer                 188
Data Scientist                    188
Name: count, dtype: int64

,id,name,role,skills,experience_years,experience_details,education,projects,certifications,phone,email,raw_text
0,5155b8fe-d996-4567-ae68-7774b9ff6bcc,Alex Iyer,Backend / Full-Stack Developer,"[""Django"", ""Docker"", ""Express"", ""Flask"", ""Grap...",8,"[{""company"": ""QuantumSoft"", ""title"": ""Backend ...","{""degree"": ""B.S."", ""institution"": ""UC Berkeley...","[{""title"": ""Backend Project 470"", ""description...","[""Google Professional Data Engineer"", ""CKA""]",9619263895,alex.iyer827@example.com,Alex Iyer\nBackend / Full-Stack Developer • 8 ...
1,1a9c4522-bc4a-415c-bf5b-673ef6dc30cf,Ravi Joshi,ML Engineer,"[""Computer Vision"", ""Docker"", ""Kubernetes"", ""M...",0,"[{""company"": ""AlgoWorks"", ""title"": ""Intern"", ""...","{""degree"": ""B.S."", ""institution"": ""NIT Trichy""...","[{""title"": ""ML Project 221"", ""description"": ""M...",[],8428180207,ravi.joshi908@email.com,Ravi Joshi\nML Engineer • 0 years\nravi.joshi9...
2,bfa3b1c3-5c78-4dd8-91f7-9efa478d6a33,Priya Sharma,ML Engineer,"[""Kubernetes"", ""ML pipelines"", ""MLflow"", ""NLP""...",3,"[{""company"": ""FinBridge"", ""title"": ""Software E...","{""degree"": ""B.S."", ""institution"": ""UC Berkeley...","[{""title"": ""ML Project 339"", ""description"": ""M...","[""AWS Certified Solutions Architect"", ""CKA""]",6564794477,priya.sharma52@mail.com,Priya Sharma\nML Engineer • 3 years\npriya.sha...
3,fc622b82-c1b1-4ea3-b4f2-455ae2fe8d33,Isha Gupta,Software Engineer,"[""Agile"", ""C++"", ""Docker"", ""Git"", ""Java"", ""Kub...",5,"[{""company"": ""Innotech Solutions"", ""title"": ""D...","{""degree"": ""B.S."", ""institution"": ""NIT Trichy""...","[{""title"": ""Software Project 154"", ""descriptio...","[""Google Professional Data Engineer""]",8498524011,isha.gupta541@email.com,Isha Gupta\nSoftware Engineer • 5 years\nisha....
4,01909c06-cc9a-486e-bfed-bf12221c7712,Meera Das,Backend / Full-Stack Developer,"[""Django"", ""Docker"", ""Express"", ""Flask"", ""Grap...",8,"[{""company"": ""QuantumSoft"", ""title"": ""Data Sci...","{""degree"": ""M.S."", ""institution"": ""Carnegie Me...","[{""title"": ""Backend Project 538"", ""description...",[],8270311811,meera.das272@devmail.io,Meera Das\nBackend / Full-Stack Developer • 8 ...

In [2]:
# Cell 1: Load resumes dataset and basic checks

import pandas as pd

# If your file is named differently, change the filename here
df = pd.read_csv("resumes.csv")

print("Shape:", df.shape)
print("Columns:", df.columns.tolist())

# Ensure required columns exist
required_cols = ["raw_text", "role"]
for col in required_cols:
    if col not in df.columns:
        raise ValueError(f"Missing required column: {col}")

# Make sure raw_text and role are strings
df["raw_text"] = df["raw_text"].astype(str)
df["role"] = df["role"].astype(str)

# Drop any rows with missing raw_text or role
df = df.dropna(subset=["raw_text", "role"]).reset_index(drop=True)

print("After cleaning:", df.shape)
print("\nRole distribution:")
print(df["role"].value_counts())

df.head()

Shape: (1000, 12)
Columns: ['id', 'name', 'role', 'skills', 'experience_years', 'experience_details', 'education', 'projects', 'certifications', 'phone', 'email', 'raw_text']
After cleaning: (1000, 12)

Role distribution:
role
ML Engineer                       235
DevOps / Cloud Engineer           197
Backend / Full-Stack Developer    192
Software Engineer                 188
Data Scientist                    188
Name: count, dtype: int64

,id,name,role,skills,experience_years,experience_details,education,projects,certifications,phone,email,raw_text
0,5155b8fe-d996-4567-ae68-7774b9ff6bcc,Alex Iyer,Backend / Full-Stack Developer,"[""Django"", ""Docker"", ""Express"", ""Flask"", ""Grap...",8,"[{""company"": ""QuantumSoft"", ""title"": ""Backend ...","{""degree"": ""B.S."", ""institution"": ""UC Berkeley...","[{""title"": ""Backend Project 470"", ""description...","[""Google Professional Data Engineer"", ""CKA""]",9619263895,alex.iyer827@example.com,Alex Iyer\nBackend / Full-Stack Developer • 8 ...
1,1a9c4522-bc4a-415c-bf5b-673ef6dc30cf,Ravi Joshi,ML Engineer,"[""Computer Vision"", ""Docker"", ""Kubernetes"", ""M...",0,"[{""company"": ""AlgoWorks"", ""title"": ""Intern"", ""...","{""degree"": ""B.S."", ""institution"": ""NIT Trichy""...","[{""title"": ""ML Project 221"", ""description"": ""M...",[],8428180207,ravi.joshi908@email.com,Ravi Joshi\nML Engineer • 0 years\nravi.joshi9...
2,bfa3b1c3-5c78-4dd8-91f7-9efa478d6a33,Priya Sharma,ML Engineer,"[""Kubernetes"", ""ML pipelines"", ""MLflow"", ""NLP""...",3,"[{""company"": ""FinBridge"", ""title"": ""Software E...","{""degree"": ""B.S."", ""institution"": ""UC Berkeley...","[{""title"": ""ML Project 339"", ""description"": ""M...","[""AWS Certified Solutions Architect"", ""CKA""]",6564794477,priya.sharma52@mail.com,Priya Sharma\nML Engineer • 3 years\npriya.sha...
3,fc622b82-c1b1-4ea3-b4f2-455ae2fe8d33,Isha Gupta,Software Engineer,"[""Agile"", ""C++"", ""Docker"", ""Git"", ""Java"", ""Kub...",5,"[{""company"": ""Innotech Solutions"", ""title"": ""D...","{""degree"": ""B.S."", ""institution"": ""NIT Trichy""...","[{""title"": ""Software Project 154"", ""descriptio...","[""Google Professional Data Engineer""]",8498524011,isha.gupta541@email.com,Isha Gupta\nSoftware Engineer • 5 years\nisha....
4,01909c06-cc9a-486e-bfed-bf12221c7712,Meera Das,Backend / Full-Stack Developer,"[""Django"", ""Docker"", ""Express"", ""Flask"", ""Grap...",8,"[{""company"": ""QuantumSoft"", ""title"": ""Data Sci...","{""degree"": ""M.S."", ""institution"": ""Carnegie Me...","[{""title"": ""Backend Project 538"", ""description...",[],8270311811,meera.das272@devmail.io,Meera Das\nBackend / Full-Stack Developer • 8 ...

In [3]:
# Cell 2: Train/test split

from sklearn.model_selection import train_test_split

X = df["raw_text"]
y = df["role"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

len(X_train), len(X_test)

(800, 200)

In [4]:
# Cell 3: Define multiple TF-IDF + classifier pipelines

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

def make_tfidf():
    return TfidfVectorizer(
        max_features=30000,
        ngram_range=(1, 2),
        lowercase=True
    )

models = {
    "log_reg": Pipeline([
        ("tfidf", make_tfidf()),
        ("clf", LogisticRegression(
            max_iter=1000,
            n_jobs=-1,
            class_weight="balanced"
        ))
    ]),
    "linear_svm": Pipeline([
        ("tfidf", make_tfidf()),
        ("clf", LinearSVC())
    ]),
    "naive_bayes": Pipeline([
        ("tfidf", make_tfidf()),
        ("clf", MultinomialNB())
    ])
}

models

{'log_reg': Pipeline(steps=[('tfidf',
                  TfidfVectorizer(max_features=30000, ngram_range=(1, 2))),
                 ('clf',
                  LogisticRegression(class_weight='balanced', max_iter=1000,
                                     n_jobs=-1))]),
 'linear_svm': Pipeline(steps=[('tfidf',
                  TfidfVectorizer(max_features=30000, ngram_range=(1, 2))),
                 ('clf', LinearSVC())]),
 'naive_bayes': Pipeline(steps=[('tfidf',
                  TfidfVectorizer(max_features=30000, ngram_range=(1, 2))),
                 ('clf', MultinomialNB())])}

In [5]:
# Cell 4: Train & evaluate all models, pick the best

from sklearn.metrics import accuracy_score, f1_score, classification_report

results = {}

for name, model in models.items():
    print("="*80)
    print(f"Training model: {name}")
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    f1_macro = f1_score(y_test, y_pred, average="macro")
    
    print(f"Accuracy:  {acc:.4f}")
    print(f"F1-macro: {f1_macro:.4f}")
    print("\nClassification report:")
    print(classification_report(y_test, y_pred))
    
    results[name] = {
        "model": model,
        "accuracy": acc,
        "f1_macro": f1_macro
    }

# Pick best model by F1-macro
best_name = max(results.keys(), key=lambda n: results[n]["f1_macro"])
best_model = results[best_name]["model"]
best_score = results[best_name]["f1_macro"]

print("\n" + "="*80)
print(f"Best model: {best_name} with F1-macro = {best_score:.4f}")

================================================================================
Training model: log_reg
Accuracy:  1.0000
F1-macro: 1.0000

Classification report:
                                precision    recall  f1-score   support

Backend / Full-Stack Developer       1.00      1.00      1.00        38
                Data Scientist       1.00      1.00      1.00        38
       DevOps / Cloud Engineer       1.00      1.00      1.00        39
                   ML Engineer       1.00      1.00      1.00        47
             Software Engineer       1.00      1.00      1.00        38

                      accuracy                           1.00       200
                     macro avg       1.00      1.00      1.00       200
                  weighted avg       1.00      1.00      1.00       200

================================================================================
Training model: linear_svm
Accuracy:  1.0000
F1-macro: 1.0000

Classification report:
                                precision    recall  f1-score   support

Backend / Full-Stack Developer       1.00      1.00      1.00        38
                Data Scientist       1.00      1.00      1.00        38
       DevOps / Cloud Engineer       1.00      1.00      1.00        39
                   ML Engineer       1.00      1.00      1.00        47
             Software Engineer       1.00      1.00      1.00        38

                      accuracy                           1.00       200
                     macro avg       1.00      1.00      1.00       200
                  weighted avg       1.00      1.00      1.00       200

================================================================================
Training model: linear_svm
Accuracy:  1.0000
F1-macro: 1.0000

Classification report:
                                precision    recall  f1-score   support

Backend / Full-Stack Developer       1.00      1.00      1.00        38
                Data Scientist       1.00      1.00      1.00        38
       DevOps / Cloud Engineer       1.00      1.00      1.00        39
                   ML Engineer       1.00      1.00      1.00        47
             Software Engineer       1.00      1.00      1.00        38

                      accuracy                           1.00       200
                     macro avg       1.00      1.00      1.00       200
                  weighted avg       1.00      1.00      1.00       200

================================================================================
Training model: naive_bayes
Accuracy:  1.0000
F1-macro: 1.0000

Classification report:
                                precision    recall  f1-score   support

Backend / Full-Stack Developer       1.00      1.00      1.00        38
                Data Scientist       1.00      1.00      1.00        38
       DevOps / Cloud Engineer       1.00      1.00      1.00        39
                   ML Engineer       1.00      1.00      1.00        47
             Software Engineer       1.00      1.00      1.00        38

                      accuracy                           1.00       200
                     macro avg       1.00      1.00      1.00       200
                  weighted avg       1.00      1.00      1.00       200


================================================================================
Best model: log_reg with F1-macro = 1.0000
Accuracy:  1.0000
F1-macro: 1.0000

Classification report:
                                precision    recall  f1-score   support

Backend / Full-Stack Developer       1.00      1.00      1.00        38
                Data Scientist       1.00      1.00      1.00        38
       DevOps / Cloud Engineer       1.00      1.00      1.00        39
                   ML Engineer       1.00      1.00      1.00        47
             Software Engineer       1.00      1.00      1.00        38

                      accuracy                           1.00       200
                     macro avg       1.00      1.00      1.00       200
                  weighted avg       1.00      1.00      1.00       200

================================================================================
Training model: naive_bayes
Accuracy:  1.0000
F1-macro: 1.0000

Classification report:
                                precision    recall  f1-score   support

Backend / Full-Stack Developer       1.00      1.00      1.00        38
                Data Scientist       1.00      1.00      1.00        38
       DevOps / Cloud Engineer       1.00      1.00      1.00        39
                   ML Engineer       1.00      1.00      1.00        47
             Software Engineer       1.00      1.00      1.00        38

                      accuracy                           1.00       200
                     macro avg       1.00      1.00      1.00       200
                  weighted avg       1.00      1.00      1.00       200


================================================================================
Best model: log_reg with F1-macro = 1.0000

In [6]:
# Cell 5: Save the best model pipeline

import joblib

joblib.dump(best_model, "best_role_classifier.joblib")
print(f"Saved best model ({best_name}) to best_role_classifier.joblib")

Saved best model (log_reg) to best_role_classifier.joblib

In [7]:
# Cell 6: Helper to predict role from text using the best model

import joblib

role_clf = joblib.load("best_role_classifier.joblib")

def predict_role_from_text(text: str) -> str:
    """
    Predict the role for a single resume text using the best model.
    Returns the predicted role as a string.
    """
    return role_clf.predict([text])[0]

# Quick test on one resume
sample_text = df["raw_text"].iloc[0]
print("Sample predicted role:", predict_role_from_text(sample_text))

Sample predicted role: Backend / Full-Stack Developer

In [8]:
# Cell 7: Extract name, phone, email from raw text

import re

phone_re = re.compile(r'(\+?\d[\d\s\-]{9,})')
email_re = re.compile(r'[\w\.-]+@[\w\.-]+')

def extract_contacts(text: str):
    """
    Extract (name, phone, email) from resume text using simple heuristics.
    """
    # Email and phone
    emails = email_re.findall(text)
    phones = phone_re.findall(text)
    email = emails[0] if emails else None
    phone = phones[0] if phones else None
    
    # Name heuristic: first non-empty line that doesn't look like contact info
    name = None
    for line in text.splitlines():
        line = line.strip()
        if not line:
            continue
        if "@" in line or "phone" in line.lower() or "email" in line.lower():
            continue
        name = line
        break
    
    return name, phone, email

# Quick test on one raw_text from your dataset
test_text = df["raw_text"].iloc[0]
n, p, e = extract_contacts(test_text)
print("Extracted name:", n)
print("Extracted phone:", p)
print("Extracted email:", e)

Extracted name: Alex Iyer
Extracted phone: 9619263895


Extracted email: alex.iyer827@example.com

In [9]:
# Cell 8: High-level function for classifying a new resume text

def classify_resume_text(text: str):
    """
    Given raw resume text (pasted by HR), return:
      - predicted role
      - extracted name
      - extracted phone
      - extracted email
    """
    predicted_role = predict_role_from_text(text)
    name, phone, email = extract_contacts(text)
    
    return {
        "predicted_role": predicted_role,
        "name": name,
        "phone": phone,
        "email": email
    }

# Example usage with synthetic data
example_text = df["raw_text"].iloc[1]  # second resume
result = classify_resume_text(example_text)
result

{'predicted_role': 'ML Engineer',
 'name': 'Ravi Joshi',
 'phone': '8428180207\n\n',
 'email': 'ravi.joshi908@email.com'}

In [10]:
# Cell 9: PDF to text using pdfplumber (run once)

!pip install pdfplumber

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pdfplumber in c:\users\sai ram\appdata\roaming\python\python313\site-packages (0.11.8)
Requirement already satisfied: pdfminer.six==20251107 in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from pdfplumber) (20251107)
Requirement already satisfied: Pillow>=9.1 in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from pdfplumber) (11.3.0)
Requirement already satisfied: pypdfium2>=4.18.0 in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from pdfplumber) (5.0.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from pdfminer.six==20251107->pdfplumber) (3.4.3)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from pdfminer.six==20251107->pdfplumber) (46.0.3)
Requirement already satisfied: cffi>=2.0.0 in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from cryptography>=36.0.0->pdfminer.six==20251107->pdfplumber) (2.0.0)
Requirement already satisfied: pycparser in c:\users\sai ram\appdata\roaming\python\python313\site-packages (from cffi>=2.0.0->cryptography>=36.0.0->pdfminer.six==20251107->pdfplumber) (2.23)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
# Cell 10: Define PDF -> text and classification

import pdfplumber

def pdf_to_text(pdf_path: str) -> str:
    text = ""
    with pdfplumber.open(pdf_path) as pdf:
        for page in pdf.pages:
            t = page.extract_text()
            if t:
                text += t + "\n"
    return text

def classify_resume_pdf(pdf_path: str):
    """
    Given a resume PDF path, extract text, classify role, and extract contacts.
    """
    text = pdf_to_text(pdf_path)
    return classify_resume_text(text)

# Usage:
# result = classify_resume_pdf("some_resume.pdf")
# print(result)

In [12]:
# Cell 11: Prepare df for ranking – parse skills, experience, and build TF-IDF vectors

import ast
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel

# 11.1: Parse skills column into a Python list
def parse_skills_cell(x):
    if pd.isna(x):
        return []
    if isinstance(x, list):
        return x
    s = str(x).strip()
    if not s:
        return []
    # JSON-like list, e.g. '["Python", "Django"]'
    if s.startswith("[") and s.endswith("]"):
        try:
            parsed = ast.literal_eval(s)
            return [str(v).strip() for v in parsed]
        except Exception:
            pass
    # Semicolon-separated or comma-separated
    if ";" in s:
        return [t.strip() for t in s.split(";") if t.strip()]
    if "," in s:
        return [t.strip() for t in s.split(",") if t.strip()]
    return [s]

if "skills" in df.columns:
    df["skills_list"] = df["skills"].apply(parse_skills_cell)
else:
    df["skills_list"] = [[] for _ in range(len(df))]

# 11.2: Normalize experience years into a numeric column
exp_col = None
for col in ["experience_years", "experience", "experienc", "years_experience"]:
    if col in df.columns:
        exp_col = col
        break

if exp_col is None:
    raise ValueError("No experience years column found. Please check column names.")

df["experience_years_num"] = pd.to_numeric(df[exp_col], errors="coerce").fillna(0)

# 11.3: Ensure phone/email are strings (for display)
for col in ["phone", "email"]:
    if col in df.columns:
        df[col] = df[col].astype(str)

# 11.4: Build a skills vocabulary from all resumes
all_skills = set()
for skills in df["skills_list"]:
    for s in skills:
        all_skills.add(s.lower())
SKILLS_VOCAB = sorted(all_skills)
print("Unique skills in vocab:", len(SKILLS_VOCAB))

# 11.5: Extract TF-IDF vectorizer from the role_clf pipeline and compute resume vectors
tfidf = role_clf.named_steps["tfidf"]  # role_clf is the best model pipeline you saved earlier
resume_vectors = tfidf.transform(df["raw_text"])

print("resume_vectors shape:", resume_vectors.shape)

Unique skills in vocab: 46
resume_vectors shape: (1000, 11831)

In [13]:
# Cell 12: Parse Job Description (JD) text

import re

ROLE_KEYWORDS = {
    "Software Engineer": [
        "software engineer", "software developer", "application developer"
    ],
    "ML Engineer": [
        "ml engineer", "machine learning engineer", "ml ops"
    ],
    "Data Scientist": [
        "data scientist", "data science", "ml data scientist"
    ],
    "Backend / Full-Stack Developer": [
        "backend developer", "back-end developer", "full stack", "full-stack", "backend engineer"
    ],
    "DevOps / Cloud Engineer": [
        "devops", "cloud engineer", "site reliability engineer", "sre"
    ],
}

def infer_role_from_jd(jd_text: str):
    text = jd_text.lower()
    # Rule-based detection
    for role, keywords in ROLE_KEYWORDS.items():
        for kw in keywords:
            if kw in text:
                return role
    # Fallback: use the classifier on JD text
    try:
        pred_role = predict_role_from_text(jd_text)
        return pred_role
    except Exception:
        return None

def extract_skills_from_jd(jd_text: str):
    text = jd_text.lower()
    found = set()
    for skill in SKILLS_VOCAB:
        # simple substring matching; can be improved later
        if skill in text:
            found.add(skill)
    return found

exp_pattern = re.compile(r'(\d+)\s*\+?\s*(?:years|year|yrs)\b', re.IGNORECASE)

def extract_experience_from_jd(jd_text: str):
    """
    Returns (min_years, max_years) if found, otherwise (None, None).
    """
    matches = exp_pattern.findall(jd_text)
    if not matches:
        return None, None
    years = sorted(int(m) for m in matches)
    if len(years) == 1:
        min_years = years[0]
        max_years = years[0] + 3
    else:
        min_years = years[0]
        max_years = years[-1]
    return min_years, max_years

def parse_jd(jd_text: str):
    role = infer_role_from_jd(jd_text)
    skills = extract_skills_from_jd(jd_text)
    min_exp, max_exp = extract_experience_from_jd(jd_text)
    return {
        "text": jd_text,
        "role": role,
        "skills": skills,
        "min_experience": min_exp,
        "max_experience": max_exp
    }

# Quick test with a sample JD
sample_jd = """
We are looking for a Senior Backend / Full-Stack Developer with 5+ years of experience.
You should have strong experience with Django or Node.js, REST APIs, PostgreSQL, and Docker.
Knowledge of React or TypeScript is a plus. Experience deploying to AWS is preferred.
"""

parsed = parse_jd(sample_jd)
parsed

{'text': '\nWe are looking for a Senior Backend / Full-Stack Developer with 5+ years of experience.\nYou should have strong experience with Django or Node.js, REST APIs, PostgreSQL, and Docker.\nKnowledge of React or TypeScript is a plus. Experience deploying to AWS is preferred.\n',
 'role': 'Backend / Full-Stack Developer',
 'skills': {'aws',
  'django',
  'docker',
  'node.js',
  'postgresql',
  'r',
  'react',
  'rest',
  'rest apis',
  'sql',
  'typescript'},
 'min_experience': 5,
 'max_experience': 8}

In [14]:
# Cell 13: Scoring functions for ranking candidates

def compute_experience_match(cand_years, min_exp, max_exp):
    cand = float(cand_years)
    if min_exp is None and max_exp is None:
        return 1.0
    if min_exp is None:
        min_exp = 0
    if max_exp is None:
        max_exp = min_exp + 5

    if cand <= 0:
        return 0.0
    if cand < min_exp:
        # penalize if below minimum
        return max(0.0, cand / float(min_exp))
    if cand > max_exp:
        # penalize if way above maximum
        return max(0.0, float(max_exp) / cand)
    # within range
    return 1.0

def compute_role_match(candidate_role, jd_role):
    if jd_role is None:
        return 0.5  # JD role unknown
    return 1.0 if candidate_role == jd_role else 0.0

def compute_skill_overlap(cand_skills, jd_skills):
    if not jd_skills:
        return 0.0
    cand_set = set(s.lower() for s in cand_skills)
    jd_set = set(s.lower() for s in jd_skills)
    overlap = cand_set & jd_set
    return len(overlap) / float(len(jd_set))

In [15]:
# Cell 14: Rank candidates for a JD and return top-K

def rank_candidates_for_jd(jd_text: str, top_k: int = 10):
    jd_info = parse_jd(jd_text)
    jd_role = jd_info["role"]
    jd_skills = jd_info["skills"]
    min_exp = jd_info["min_experience"]
    max_exp = jd_info["max_experience"]
    
    # 1) Semantic similarity using TF-IDF vectors
    jd_vec = tfidf.transform([jd_text])
    cosine_similarities = linear_kernel(jd_vec, resume_vectors).flatten()  # shape: (n_resumes,)
    
    # 2) Score each candidate
    scores = []
    for idx, row in df.iterrows():
        sem_sim = float(cosine_similarities[idx])
        skill_ov = compute_skill_overlap(row["skills_list"], jd_skills)
        exp_match = compute_experience_match(row["experience_years_num"], min_exp, max_exp)
        role_m = compute_role_match(row["role"], jd_role)  # using ground truth role; for real resumes you can use predicted_role
        
        final_score = (
            0.5 * sem_sim +
            0.2 * skill_ov +
            0.2 * exp_match +
            0.1 * role_m
        )
        
        scores.append({
            "id": row.get("id", idx),
            "name": row.get("name", None),
            "phone": row.get("phone", None),
            "email": row.get("email", None),
            "true_role": row["role"],
            "semantic_similarity": sem_sim,
            "skill_overlap": skill_ov,
            "experience_match": exp_match,
            "role_match": role_m,
            "final_score": final_score
        })
    
    results_df = pd.DataFrame(scores)
    results_df = results_df.sort_values("final_score", ascending=False).head(top_k).reset_index(drop=True)
    return results_df, jd_info

# Quick test with the sample JD
top_candidates, jd_parsed = rank_candidates_for_jd(sample_jd, top_k=10)
print("Parsed JD:")
print(jd_parsed)

top_candidates[["name", "phone", "email", "true_role", "final_score"]]

Parsed JD:
{'text': '\nWe are looking for a Senior Backend / Full-Stack Developer with 5+ years of experience.\nYou should have strong experience with Django or Node.js, REST APIs, PostgreSQL, and Docker.\nKnowledge of React or TypeScript is a plus. Experience deploying to AWS is preferred.\n', 'role': 'Backend / Full-Stack Developer', 'skills': {'docker', 'r', 'rest apis', 'typescript', 'postgresql', 'rest', 'sql', 'django', 'react', 'node.js', 'aws'}, 'min_experience': 5, 'max_experience': 8}

,name,phone,email,true_role,final_score
0,Karan Patel,9886423927,karan.patel367@devmail.io,Backend / Full-Stack Developer,0.563762
1,Meera Das,8270311811,meera.das272@devmail.io,Backend / Full-Stack Developer,0.560523
2,Isha Joshi,9060748222,isha.joshi763@email.com,Backend / Full-Stack Developer,0.560021
3,Sam Joshi,9119164278,sam.joshi182@techmail.com,Backend / Full-Stack Developer,0.556356
4,Ravi Gupta,6080695009,ravi.gupta314@email.com,Backend / Full-Stack Developer,0.556107
5,Priya Das,8804622387,priya.das250@email.com,Backend / Full-Stack Developer,0.555127
6,Sam Singh,6399823487,sam.singh628@techmail.com,Backend / Full-Stack Developer,0.547360
7,Alex Iyer,7643766082,alex.iyer233@email.com,Backend / Full-Stack Developer,0.546265
8,Meera Sharma,8957729519,meera.sharma222@email.com,Backend / Full-Stack Developer,0.545984
9,Alex Khan,8562681432,alex.khan354@mail.com,Backend / Full-Stack Developer,0.544303

In [16]:
# Cell 15: Add predicted_role for each resume in df

# role_clf is the best model pipeline we saved earlier (best_role_classifier.joblib)
# and predict_role_from_text(text) uses that internally.

df["predicted_role"] = df["raw_text"].apply(predict_role_from_text)

df[["name", "role", "predicted_role"]].head()

,name,role,predicted_role
0,Alex Iyer,Backend / Full-Stack Developer,Backend / Full-Stack Developer
1,Ravi Joshi,ML Engineer,ML Engineer
2,Priya Sharma,ML Engineer,ML Engineer
3,Isha Gupta,Software Engineer,Software Engineer
4,Meera Das,Backend / Full-Stack Developer,Backend / Full-Stack Developer

In [17]:
# Cell 16: Rank candidates using predicted_role instead of true_role

def rank_candidates_for_jd_v2(jd_text: str, top_k: int = 10):
    jd_info = parse_jd(jd_text)
    jd_role = jd_info["role"]
    jd_skills = jd_info["skills"]
    min_exp = jd_info["min_experience"]
    max_exp = jd_info["max_experience"]
    
    # 1) Semantic similarity using TF-IDF vectors (already precomputed)
    jd_vec = tfidf.transform([jd_text])
    cosine_similarities = linear_kernel(jd_vec, resume_vectors).flatten()
    
    # 2) Score each candidate
    scores = []
    for idx, row in df.iterrows():
        sem_sim = float(cosine_similarities[idx])
        skill_ov = compute_skill_overlap(row["skills_list"], jd_skills)
        exp_match = compute_experience_match(row["experience_years_num"], min_exp, max_exp)
        role_m = compute_role_match(row["predicted_role"], jd_role)  # NOTE: predicted_role
        
        final_score = (
            0.5 * sem_sim +
            0.2 * skill_ov +
            0.2 * exp_match +
            0.1 * role_m
        )
        
        scores.append({
            "id": row.get("id", idx),
            "name": row.get("name", None),
            "phone": row.get("phone", None),
            "email": row.get("email", None),
            "predicted_role": row.get("predicted_role", None),
            "semantic_similarity": sem_sim,
            "skill_overlap": skill_ov,
            "experience_match": exp_match,
            "role_match": role_m,
            "final_score": final_score
        })
    
    results_df = pd.DataFrame(scores)
    results_df = results_df.sort_values("final_score", ascending=False).head(top_k).reset_index(drop=True)
    return results_df, jd_info

# Test again on your sample JD
top_candidates_v2, jd_parsed_v2 = rank_candidates_for_jd_v2(sample_jd, top_k=10)
top_candidates_v2[["name", "phone", "email", "predicted_role", "final_score"]]

,name,phone,email,predicted_role,final_score
0,Karan Patel,9886423927,karan.patel367@devmail.io,Backend / Full-Stack Developer,0.563762
1,Meera Das,8270311811,meera.das272@devmail.io,Backend / Full-Stack Developer,0.560523
2,Isha Joshi,9060748222,isha.joshi763@email.com,Backend / Full-Stack Developer,0.560021
3,Sam Joshi,9119164278,sam.joshi182@techmail.com,Backend / Full-Stack Developer,0.556356
4,Ravi Gupta,6080695009,ravi.gupta314@email.com,Backend / Full-Stack Developer,0.556107
5,Priya Das,8804622387,priya.das250@email.com,Backend / Full-Stack Developer,0.555127
6,Sam Singh,6399823487,sam.singh628@techmail.com,Backend / Full-Stack Developer,0.547360
7,Alex Iyer,7643766082,alex.iyer233@email.com,Backend / Full-Stack Developer,0.546265
8,Meera Sharma,8957729519,meera.sharma222@email.com,Backend / Full-Stack Developer,0.545984
9,Alex Khan,8562681432,alex.khan354@mail.com,Backend / Full-Stack Developer,0.544303

In [18]:
# Cell 17: Extract skills from resume text using SKILLS_VOCAB

def extract_skills_from_resume_text(text: str, vocab=None):
    if vocab is None:
        vocab = SKILLS_VOCAB
    txt = text.lower()
    found = set()
    for skill in vocab:
        if skill in txt:
            found.add(skill)
    return list(found)

# Quick test on one existing resume
test_text = df["raw_text"].iloc[0]
extract_skills_from_resume_text(test_text)[:10]

['docker',
 'flask',
 'express',
 'r',
 'graphql',
 'typescript',
 'mongodb',
 'rest',
 'django',
 'react']

In [19]:
# Cell 18: Add a new resume (plain text) into the candidate pool

from scipy.sparse import vstack
import uuid

def add_resume_text_to_pool(text: str):
    """
    Given a new resume text, classify it, extract contacts & skills,
    add it to df and update resume_vectors. Returns new candidate id.
    """
    # 1) Classify and get contacts
    parsed = classify_resume_text(text)  # uses predict_role_from_text + extract_contacts
    predicted_role = parsed["predicted_role"]
    name = parsed["name"]
    phone = parsed["phone"]
    email = parsed["email"]
    
    # 2) Extract skills from text
    skills_list = extract_skills_from_resume_text(text)
    
    # 3) (Optional for now) set experience years = 0 (or some heuristic later)
    exp_years = 0.0
    
    # 4) Build new row
    new_id = str(uuid.uuid4())
    new_row = {
        "id": new_id,
        "name": name,
        "phone": phone,
        "email": email,
        "role": predicted_role,           # we can store predicted role as role for new resumes
        "predicted_role": predicted_role,
        "skills_list": skills_list,
        "experience_years_num": exp_years,
        "raw_text": text
    }
    
    # 5) Append to df
    global df, resume_vectors
    df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
    
    # 6) Update resume_vectors with new TF-IDF vector
    new_vec = tfidf.transform([text])
    resume_vectors = vstack([resume_vectors, new_vec])
    
    return new_id

# Example usage with a fake new resume text
new_resume_text = """
Alex Kumar
Phone: +91-9876543210
Email: alex.kumar@example.com

Summary
Backend / Full-Stack Developer with 6+ years of experience building REST APIs and web applications.

Skills
Python, Django, REST APIs, PostgreSQL, Docker, React, AWS

Experience
Worked on scalable backend services for e-commerce platforms.
"""

new_cand_id = add_resume_text_to_pool(new_resume_text)
print("New candidate added with id:", new_cand_id)

New candidate added with id: 236c06d6-f5fe-4054-b532-a8371e34d746

In [20]:
# Cell 19: Rank again for the same JD, now including new resumes

top_candidates_v2, jd_parsed_v2 = rank_candidates_for_jd_v2(sample_jd, top_k=10)
top_candidates_v2[["name", "phone", "email", "predicted_role", "final_score"]]

,name,phone,email,predicted_role,final_score
0,Karan Patel,9886423927,karan.patel367@devmail.io,Backend / Full-Stack Developer,0.563762
1,Meera Das,8270311811,meera.das272@devmail.io,Backend / Full-Stack Developer,0.560523
2,Isha Joshi,9060748222,isha.joshi763@email.com,Backend / Full-Stack Developer,0.560021
3,Sam Joshi,9119164278,sam.joshi182@techmail.com,Backend / Full-Stack Developer,0.556356
4,Ravi Gupta,6080695009,ravi.gupta314@email.com,Backend / Full-Stack Developer,0.556107
5,Priya Das,8804622387,priya.das250@email.com,Backend / Full-Stack Developer,0.555127
6,Sam Singh,6399823487,sam.singh628@techmail.com,Backend / Full-Stack Developer,0.547360
7,Alex Iyer,7643766082,alex.iyer233@email.com,Backend / Full-Stack Developer,0.546265
8,Meera Sharma,8957729519,meera.sharma222@email.com,Backend / Full-Stack Developer,0.545984
9,Alex Khan,8562681432,alex.khan354@mail.com,Backend / Full-Stack Developer,0.544303